#LoadingAni {
    display: flex;
    position: fixed;
    z-index: 1;

    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;
    background-image: radial-gradient(circle at center, #6e954c 10%, #0F2D28 100%);
}

canvas#canvasLoadAni {
    display: flex;
    position: fixed;
    z-index: 2;


    justify-content: center;
    align-items: center;

    height: 100vh;
    

    /* background-color: aqua;  */


}

#LoadingAni>div:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    z-index: 3;

    justify-content: center;
    align-items: center;

    position: absolute;
}

#LoadingAni h4 {
    color: var(--myDGreen);
}

#LoadingAni img{
    max-width: 600px;
    
}
#LoadingAni img.img02 {
    position: relative;
    top: 1000px;
    
}

#LoadingAni img.img01 {
    position: relative;
    width: 1200px;
    /* box-shadow: 0 0 30px #C7933F;
    background-color: #c7933f9f; */
}