@media (max-width: 4096px) {
    #LoadingAni {
        display: flex;
        position: fixed;
        z-index: 2;
    
        justify-content: center;
        align-items: center;
    
        height: 100vh;
        width: 100vw;
        background-image: radial-gradient(farthest-corner, #aed6b2  50%, #394645  120%);
    }
    
    #LoadingAni>div:nth-of-type(1) {
        display: flex;
        flex-direction: column;
        z-index: 3;
        
    }
    #LoadingAni>div:nth-of-type(1) .leaf{
        width: 800px;
        transition: 1.0s ease;
    }
    .TL{position: fixed; top:-100px;    left:-70px;  transition: 1.0s ease;}
    .TR{position: fixed; top:-100px;    right:-70px; transition: 1.0s ease;}
    .BL{position: fixed; bottom:-100px; left:-70px;  transition: 1.0s ease;}
    .BR{position: fixed; bottom:-100px; right:-70px; transition: 1.0s ease;}

    :root{
        --progressWidth: 410px;
    }

    div#progress{
        display: flex;
        position: relative;
        align-items: center;
        right: -5px;

        transition: 1.0s ease;
    }
    div#progress>div{
        border-radius: 20px;
        width: var(--progressWidth); 
        height: 25px; 
        background-color: var(--myWhite);

        transition: 1.0s ease;
    }
    div.progresscolor{
        overflow: clip;

        position: relative;
        border-radius: 20px;
        
        width:0%;
        text-align: center;
        color:var(--myDGreen);
        font-weight: bold;
        
    

        height: 25px;
        background-color: var(--myLGreen);
        transition: 0.1s ease;
        
    }
    div#progress>img{
        width: 60px;
        position: relative;
        border-radius: 20px;
        right: 92%;

        transition: 0.1s ease;
    }


    .column01,.column03{
        display: flex;
        position: absolute;
    }  
    .column02{
        display: flex; 
        flex-direction: column; 
        align-items: center;
    }
    .column02>img.img00 {
        display: none;
        position: relative;
        top: -10px;
        right: -120px;
    
        width:300px;
        /* background-color: rgb(0, 255, 42)  */
    }
    .column02>img.img01 {
        width:500px;
       /* background-color: aqua;  */
    }
    .column02>img.img02 {
        display: block;
        position: relative;
        top: 40px;
        left: -13px;
    
        width:420px;
        /*background-color: rgb(0, 255, 42)*/
    }
}

@media (max-width: 550px) {
    #LoadingAni>div:nth-of-type(1) .leaf{
        width: 800px;
    }
    .TL{position: fixed; top:-100px;    left:-70px;  transition: 1.0s ease;}
    .TR{position: fixed; top:-250px;    right:-180px; transition: 1.0s ease;}
    .BL{position: fixed; bottom:-250px; left:-100px;  transition: 1.0s ease; rotate:10deg;}
    .BR{position: fixed; bottom:-100px; right:-180px; transition: 1.0s ease;}
    
    div#progress{
        top: -105px;
    }
    div#progress>div{
        width: calc(var(--progressWidth) - 70px) ; 
    }
    
    .column02{
        display: flex; 
        flex-direction: column; 
        align-items: center;
        transition: 1.0s ease;
    }
    .column02>img.img00 {
        display: block;
    }
    .column02>img.img01 {
        width:400px;
        position: relative;
        top: -100px;

        transition: 1.0s ease-in-out;
       /* background-color: aqua;  */
    }
    .column02>img.img02 {
        display: none;
    }
}



