@import url("https://www.w3schools.com/w3css/4/w3.css");
@import "main.css";

.navbar {
    display: block;
    position: fixed;
    right: 0px;
    top: 0px;

    display: flex;
    flex-direction: column;
    z-index: 1;

    /* 水平置中 */
    justify-content: center;
    /* 垂直置中 */
    align-items: center;
    opacity: 100%;

    padding: 40px 20px;
    transition: 1.0 ease;

    /*background-color: rgb(48, 119, 119); */
}

.navbar>div#BackToTop {
    margin: 0 0 20px 0;
    width: 100px;
    height:100px;
    background-color: var(--myWhite);
    background-image: url(../img/svg/Weed_BackToTop.svg);
    background-size: contain;
    box-shadow: 0 8px 10px #000000;
    transition: 0.3s ease;
    border-radius: 50%;
}
.navbar>div#BackToTop:hover {
    background-image: url(../img/svg/Weed_BackToTop_Hover.svg);
    transition: 0.3s ease;
    box-shadow: 0 0 40px var(--myWhite);
    cursor: pointer;

}

#navBlockText {
    position: fixed;

    top: 150px;

    display: flex;
    flex-direction: column;
}


#navBlockText>button {
    text-align: center;
    text-decoration: none;
    font-family: "GenJyuuGothic-B";

    color: var(--myYellow);

    font-size: var(--pContent);

    background-color:rgba(15, 45, 40, 0.5);
    border-radius: 5px;

    border-style: none;
    margin: 3px;
}

#navBlockText a {
    text-decoration: none;
}

/*哇哇這現在沒用了*/
#navBlockText a:hover{
    text-decoration: solid;
    transition: 0.3s ease;
}