@import url("https://www.w3schools.com/w3css/4/w3.css");
@import "main.css";

.navbar {
    display: block;
    position: fixed;
    right: 0px;
    top: 0px;

    display: flex;
    flex-direction: column;
    z-index: 100;

    /* 水平置中 */
    justify-content: center;
    /* 垂直置中 */
    align-items: center;
    opacity: 100%;

    padding: 40px 20px;
    transition: 1.0 ease;

    /*  background-color: aqua; */
}

.navbar>img {
    margin: 0 0 20px 0;
}

#navBlockText {
    position: fixed;

    top: 140px;

    display: flex;
    flex-direction: column;
}


#navBlockText>button {
    text-align: center;
    text-decoration: none;
    font-family: "GenJyuuGothic-B";

    color: var(--myYellow);

    font-size: var(--pContent);

    background-color:rgba(15, 45, 40, 0.5);
    border-radius: 5px;

    border-style: none;
    margin: 3px;
}

#navBlockText a {
    text-decoration: none;
}

/*哇哇這現在沒用了*/
#navBlockText a:hover{
    text-decoration: solid;
    transition: 0.3s ease;
}